.main {
  display: flex;
  flex-direction: column;
  margin: 70px 100px;
  height: 100vh;
  justify-content: flex-start;
  gap: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: fit-content;
}

.catCont {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 50px;
}

.cardCont {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  gap: 2rem;
  height: 100%;
}

@media (max-width: 820px) {
  .cardCont {
    gap: 30px;
  }

  .catCont {
    overflow-x: hidden;
    gap: 20px;
  }

  .main {
    margin: 70px 20px;
  }
}

@media (max-width: 414px) {
  .cardCont {
    gap: 30px;
  }

  .catCont {
    overflow-x: scroll;
  }

  
}
