.main {
  display: flex;
  flex-direction: column;
  margin: 70px 100px;
  height: 100vh;
  justify-content: flex-start;
  gap: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: fit-content;
}

.flexbox {
  display: flex;

  justify-content: space-between  ;
}
.image {
  width: 300px;
}